<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <link rel="stylesheet" href="css/form.css">
    <title>점포 삭제</title>
</head>
<body>
    <div class="form-container">
        <div class="form">
            <form id="form" action="/members/delete" method="post">
                <input type="text" id="level" name="level" placeholder="level을 입력하세요">
                <button id="submit" type="submit">확인</button>
                <a href="/"><button id="home" type="button">취소</button></a>
            </form>
        </div>
    </div>
</body>
</html>