body {
    background:rgb(215, 224, 226);
}

.container {
    width: 360px;
    height: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.container-inner {
    background: linear-gradient(to bottom, rgba(255, 208, 0, 0.8) 0%, rgba(219, 179, 0, 0.8) 100%);
    max-width: 360px;
    padding: 60px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px 10px 10px 10px;
    display: block;
}

.menu {
    padding: 10px;
}

a {
    text-decoration: none;
    outline: none;
    color: black;
    font-size:17px;
}