<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HOME</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div>
        <h1>사이트 접속을 환영합니다 :)</h1>
        <p>회원 기능</p>
        <p>
            <button type="button"><a href="/members/new">신규 점포 등록</a></button>
            <button type="button"><a href="/members/holiday">점포 휴무일 등록</a></button>
            <button type="button"><a href="/members">점포 목록 조회</a></button>
            <button type="button"><a href="#">점포 상세 조회</a></button>
            <button type="button"><a href="/members/delete">점포 삭제</a></button>
        </p>
    </div>
</div> <!-- /container -->
</body>
</html>