<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" href="css/home.css">
    <title>점포관리 시스템</title>
</head>
<body>
<div class="container">
    <div class="container-inner">
        <div class="menu"><a href="/members/new">신규 점포 등록</a></div>
        <div class="menu"><a href="/members/holiday">점포 휴무일 등록</a></div>
        <div class="menu"><a href="/members">점포 목록 조회</a></div>
        <div class="menu"><a href="#">점포 상세 조회</a></div>
        <div class="menu"><a href="/members/delete">점포 삭제</a></div>
    </div>
</div>
</body>
</html>